In [ ]:
Scenario Based questions:
Q1.Will the reducer work or not if you use “Limit 1” in any HiveQL query?

Ans-2.I think Reducer will work, because as per Hive 
documentation -- Limit indicates the number of rows to be returned. The rows returned are chosen at random.

In [ ]:
Q2.Suppose I have installed Apache Hive on top of my Hadoop cluster using default metastore configuration. Then, what will 
happen if we have multiple clients trying to access Hive at the same time?

Ans-2.The default metastore configuration allows only one Hive session to be 
opened at a time for accessing the metastore. Therefore, if multiple clients try to access the metastore at the same 
time, they will get an error. One has to use a standalone metastore, i.e. Local or remote metastore configuration in 
Apache Hive for allowing access to multiple clients concurrently.

In [ ]:
Q3. Suppose, I create a table that contains details of all the transactions done by the customers: CREATE TABLE transaction_details (cust_id INT, amount FLOAT, 
month STRING, country STRING) ROW FORMAT DELIMITED FIELDS TERMINATED BY ‘,’ ;
Now, after inserting 50,000 records in this table, I want to know the total revenue generated for each month. But, 
Hive is taking too much time in processing this query. How will you solve this problem and list the steps that I will be 
taking in order to do so?
Ans-2.so,to solve this problems we have to partitioned it by partitioning the table by each month. but we can't partitioned thedata directly. so we create a 
partition table as:
    CREATE TABLE partitioned_transaction (cust_id INT, amount FLOAT, country STRING) PARTITIONED BY (month STRING) ROW 
FORMAT DELIMITED FIELDS TERMINATED BY ‘,’ ;
And we can enable dynamic partitioning in hive:
    SET hive.exec.dynamic.partition = true;
    SET hive.exec.dynamic.partition.mode = nonstrict;
And transfer the data into it by writing this querry:
INSERT OVERWRITE TABLE partitioned_transaction PARTITION (month) SELECT cust_id, amount, country, month FROM transaction_details;

In [ ]:
Q4. How can you add a new partition for the month December in the above partitioned table?
Ans-4. To add a new partition we have to write this querry: 
ALTER TABLE partitioned_transaction ADD PARTITION (month=’Dec’) LOCATION  ‘/partitioned_transaction’;

In [ ]:
Q5.I am inserting data into a table based on partitions dynamically. But, I received an error – FAILED ERROR IN SEMANTIC 
ANALYSIS: Dynamic partition strict mode requires at least one static partition column. How will you remove this error?
Ans-5.try both below properties:
SET hive.exec.dynamic.partition = true;
SET hive.exec.dynamic.partition.mode = nonstrict;
And while writing insert statement for a partitioned table make sure that you specify the partition columns at the last 
in select clause.

In [ ]:
Q6. Suppose, I have a CSV file – ‘sample.csv’ present in ‘/temp’ directory with the following entries:
id first_name last_name email gender ip_address
How will you consume this CSV file into the Hive warehouse using built-in SerDe?
Ans-6.SerDe stands for serialisation and deserialisation. so it convert unstructured data into a records that can process 
using hive. we can use this SerDe by using this command:
    
    CREATE EXTERNAL TABLE sample

(id int, first_name string, 

last_name string, email string,

gender string, ip_address string) 

ROW FORMAT SERDE ‘org.apache.hadoop.hive.serde2.OpenCSVSerde’ 

STORED AS TEXTFILE LOCATION ‘/temp’;

Now, we can perform any query on the table ‘sample’:

SELECT first_name FROM sample WHERE gender = ‘male’;

In [ ]:
Q7. Suppose, I have a lot of small CSV files present in the input directory in HDFS and I want to create a single Hive table corresponding to these files. The data in these files are in the format: {id, name, e-mail, country}. Now, as we know, Hadoop performance degrades when we use lots of small files.
So, how will you solve this problem where we want to create a single Hive table for lots of small files without degrading the performance of the system?
Ans-7. 
The steps that will be followed in doing so are as follows:
Create a temporary table:
CREATE TABLE temp_table (id INT, name STRING, e-mail STRING, country STRING)

ROW FORMAT FIELDS DELIMITED TERMINATED BY ‘,’ STORED AS TEXTFILE;

Load the data into temp_table:
LOAD DATA INPATH ‘/input’ INTO TABLE temp_table;

Create a table that will store data in SequenceFile format:
CREATE TABLE sample_seqfile (id INT, name STRING, e-mail STRING, country STRING)

ROW FORMAT FIELDS DELIMITED TERMINATED BY ‘,’ STORED AS SEQUENCEFILE;

Transfer the data from the temporary table into the sample_seqfile table:
INSERT OVERWRITE TABLE sample SELECT * FROM temp_table;

so, the problems of small files doesn't degraded the performance.

In [ ]:
Q8.LOAD DATA LOCAL INPATH ‘Home/country/state/’
OVERWRITE INTO TABLE address;

The following statement failed to execute. What can be the cause?
Ans-8.The local inpath should contain a file and not a directory. The $env:HOME is a valid variable available in the 
hive environment.
Is it possible to add 100 nodes when we already have 100 nodes in Hive? If yes, how?

In [ ]:
Hive Practical questions:

Hive Join operations

Create a  table named CUSTOMERS(ID | NAME | AGE | ADDRESS   | SALARY)
Create a Second  table ORDER(OID | DATE | CUSTOMER_ID | AMOUNT
)

Now perform different joins operations on top of these tables
(Inner JOIN, LEFT OUTER JOIN ,RIGHT OUTER JOIN ,FULL OUTER JOIN)
Ans-9.(a)INNER JOIN
SELECT c.ID, c.NAME, c.AGE, o.AMOUNT 
FROM CUSTOMERS c JOIN ORDERS o 
ON (c.ID = o.CUSTOMER_ID);
(B)LEFT OUTER JOIN
SELECT c.ID, c.NAME, o.AMOUNT, o.DATE 
FROM CUSTOMERS c 
LEFT OUTER JOIN ORDERS o 
ON (c.ID = o.CUSTOMER_ID);
(C)RIGHT OUTER JOIN
SELECT c.ID, c.NAME, o.AMOUNT, o.DATE FROM CUSTOMERS c RIGHT OUTER JOIN ORDERS o ON (c.ID = o.CUSTOMER_ID);
(D)FULL OUTER JOIN
 SELECT c.ID, c.NAME, o.AMOUNT, o.DATE 
FROM CUSTOMERS c 
FULL OUTER JOIN ORDERS o 
ON (c.ID = o.CUSTOMER_ID);

BUILD A DATA PIPELINE WITH HIVE

Download a data from the given location - 
https://archive.ics.uci.edu/ml/machine-learning-databases/00360/

1. Create a hive table as per given schema in your dataset 
2. try to place a data into table location
3. Perform a select operation . 
4. Fetch the result of the select operation in your local as a csv file . 
5. Perform group by operation . 
7. Perform filter operation at least 5 kinds of filter examples . 
8. show and example of regex operation
9. alter table operation 
10 . drop table operation
12 . order by operation . 
13 . where clause operations you have to perform . 
14 . sorting operation you have to perform . 
15 . distinct operation you have to perform . 
16 . like an operation you have to perform . 
17 . union operation you have to perform . 
18 . table view operation you have to perform .

In [ ]:
hive operation with python Create a python application that connects to the Hive database for extracting data, creating 
sub tables for data processing, drops temporary tables.fetch rows to python itself into a list of tuples and mimic the 
join or filter operations